/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: #f1f1f1; /* Kolor tła dla całej strony */
  margin: 0; /* Usunięcie domyślnego marginesu */
  padding: 0; /* Usunięcie domyślnego paddingu */
  display: flex; /* Ustawienie na flex, aby elementy były wyświetlane w jednej linii */
  justify-content: center; /* Wyśrodkowanie zawartości wzdłuż osi poziomej */
  align-items: center; /* Wyśrodkowanie zawartości wzdłuż osi pionowej */
  min-height: 100vh; /* Minimalna wysokość okna przeglądarki */
  font-family: "Roboto", sans-serif;
}

.main-content {
  display: flex; /* Ustawienie na flex, aby elementy były wyświetlane w jednej linii */
  flex-direction: column; /* Układanie elementów w kolumnie */
  align-items: center; /* Wyśrodkowanie zawartości wzdłuż osi poziomej */
}

/* Stylizacja paska nawigacyjnego */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #808080; /* Kolor Facebooka */
  color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Cień */
  z-index: 1000; /* Wysoki indeks, aby znaleźć się na górze innych elementów */
  display: flex; /* Ustawienie na flex, aby elementy były wyświetlane w jednej linii */
  justify-content: space-between; /* Rozłożenie elementów wzdłuż osi poziomej */
  align-items: center; /* Wyrównanie elementów wzdłuż osi pionowej */
}

nav svg {
  fill: #333; /* Dla ikon SVG */
}

.search-svg {
  fill: #fff;
}

/* Stylizacja linków w pasku nawigacyjnym */
nav a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

nav span {
  font-weight: bold;
}

/* Stylizacja pola wyszukiwania */

nav .search-box {
  display: flex;
  align-items: center; /* Wyrównanie elementów wewnątrz paska wyszukiwania */
  margin-right: 20px;
}

.search-box input[type="text"] {
  padding: 5px;
  border-radius: 20px 0 0 20px; /* Zaokrąglenie narożników po lewej stronie */
  border: none;
  background-color: #f0f2f5; /* Kolor tła pola wyszukiwania */
}

/* Stylizacja przycisku */
nav .search-box .btn {
  background-color: #333;
  color: #808080;
  padding: 5px 10px;
  border: none;
  border-radius: 0 20px 20px 0; /* Zaokrąglenie narożników po prawej stronie */
  cursor: pointer;
}

/* Style dla przycisku rozwijającego */
.dropbtn {
  background-color: transparent; /* Przezroczyste tło */
  border: none; /* Usunięcie obramowania */
  cursor: pointer;
  font-size: 24px; /* Rozmiar ikony hamburgera */
  color: #333; /* Kolor ikony */
}

.dropbtn::after {
  content: "\2630"; /* Kod Unicode dla ikony hamburgera */
}

/* Stylizacja zawartości menu rozwijanego */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #808080;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: auto; /* Usuń poprzednie ustawienie top */
  right: 0; /* Umieść listę na lewo od przycisku */
  width: auto; /* Dopasuj szerokość do zawartości */
}

/* Stylizacja linków w menu rozwijanym */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Pokazanie zawartości menu rozwijanego po najechaniu na nie */
.dropdown:hover .dropdown-content {
  display: block;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.post-section {
  background-color: #f1f1f1; /* Kolor tła pasujący do reszty */
  border: 1px solid #ccc; /* Dodanie obramowania do sekcji postów */
  border-radius: 5px; /* Zaokrąglenie narożników */
  padding: 10px; /* Dodajemy padding do sekcji */
  width: 70%; /* Szerokość sekcji */
  max-width: 600px; /* Maksymalna szerokość sekcji */
  margin: 0;
  margin-top: 20px;
}

.post-section h2 {
  margin-top: 0;
}

.post-section textarea {
  width: calc(
    100% - 20px
  ); /* Szerokość textarea równa szerokości sekcji minus dwa razy grubość obramowania */
  height: 100px; /* Dostosuj wysokość textarea według preferencji */
  padding: 10px; /* Dostosuj wewnętrzne wypełnienie */
  margin: 10px 0; /* Dodaj margines na górze i na dole textarea */
  border: 1px solid #ccc; /* Dodaj obramowanie */
  border-radius: 5px; /* Zaokrąglenie narożników */
}

.post-section .btn-post {
  align-self: flex-end; /* Przesunięcie przycisku do końca kontenera */
  background-color: #666; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu na przycisku */
  border: none; /* Usunięcie obramowania */
  padding: 10px 20px; /* Dopasowanie paddingu */
  border-radius: 5px; /* Zaokrąglenie narożników */
  cursor: pointer;
}

.post-list {
  margin-top: 20px;
}

.post-item {
  border-bottom: 1px solid #eee; /* Jasny szary kolor obramowania */
  padding: 10px 0;
}

.post-item p {
  margin-top: 10px;
}

.post-item h3 {
  margin: 0;
}

.comment-list {
  margin-top: 10px;
  padding-left: 20px;
}

.comment-item {
  border-bottom: 1px solid #eee; /* Bardziej jasny szary kolor obramowania */
  padding: 5px 0;
}
